@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row  shadow rounded">
        <div class="col-12 col-md-6 col-lg-6 col-xl-6">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/images/carouselimages/download (1).jpg" class="d-block w-75 h-75" alt="Recipe">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/carouselimages/download (2).jpg" class="d-block w-100 h-100" alt="Recipe">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/carouselimages/download (3).jpg" class="d-block w-100 h-100" alt="Recipe">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/carouselimages/download (4).jpg" class="d-block w-100 h-100" alt="Recipe">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/carouselimages/download (5).jpg" class="d-block w-100 h-100" alt="Recipe">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/carouselimages/download (6).jpg" class="d-block w-100 h-100" alt="Recipe">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/carouselimages/download (7).jpg" class="d-block w-100 h-100" alt="Recipe">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/carouselimages/download (8).jpg" class="d-block w-75 h-75" alt="Recipe">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/carouselimages/download (9).jpg" class="d-block w-100 h-100" alt="Recipe">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/carouselimages/download.jpg" class="d-block w-75 h-76" alt="Recipe">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/carouselimages/images (1).jpg" class="d-block w-100 h-100" alt="Recipe">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/carouselimages/images.jpg" class="d-block w-100 h-100" alt="Recipe">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/carouselimages/jollof & fried rice with chicken.jpg" class="d-block w-100 h-100" alt="Recipe">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/carouselimages/jollof & fried rice.jpg" class="d-block w-100 h-100" alt="Recipe">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 col-xl-6">
            <div class="mb-3">
                <h2>Get the best <span class="text-success fst-italic">Food</span> From
                    <span class="text-success">The Best Restaurants</span></h2>
            </div>
            <div class="mb-1 p-3">
                <span><i class="fa-solid fa-seedling text-success mx-2 fs-4"></i></span>
                <span class="fs-5 text-dark fst-italic">Fresh Food</span>
            </div>
            <div class="mb-1 p-3">
                <span><i class="fa-solid fa-wheat-awn text-success mx-2 fs-4"></i></span>
                <span class="fs-5 text-dark fst-italic">Healthy Meal</span>
            </div>
            <div class="mb-1 p-3">
                <span><i class="fa-solid fa-person-biking text-success mx-2 fs-4"></i></span>
                <span class="fs-5 text-dark fst-italic">Fastest Delivery</span>
                <p class="py-2">We Promise Deliver Order Within 30minutes</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-5">
            <h2 class="text-dark fst-italic">Today's Special</h2>
            <div id="todaySpecial" class="row">
                <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="shadow-rounded card dishCard">
                        <img class="card-img-top h-75" src="/images/foodDisplay/pizza1.jpg" alt="dish" />
                        <div class="card-body">
                            <p class="card-title fw-bold">Pizza</p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="shadow-rounded card dishCard">
                        <img class="card-img-top h-100" src="/images/foodDisplay/food1.jpeg" alt="dish" />
                        <div class="card-body">
                            <p class="card-title fw-bold">Pounded yam & Egusi with Assorted Meat</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="shadow-rounded card dishCard">
                        <img class="card-img-top" src="/images/foodDisplay/food2.jpeg" alt="dish" />
                        <div class="card-body">
                            <p class="card-title fw-bold">Fried Rice & Salad with Roasted Meat</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 col-xl-4 mt-5">
                    <div class="shadow-rounded card dishCard">
                        <img class="card-img-top" src="/images/foodDisplay/food3.jpeg" alt="dish" />
                        <div class="card-body">
                            <p class="card-title fw-bold">Jollof Rice & Carrot with Nice Fish</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 col-xl-4 mt-5">
                    <div class="shadow-rounded card dishCard">
                        <img class="card-img-top" src="/images/foodDisplay/food4.jpeg" alt="dish" />
                        <div class="card-body">
                            <p class="card-title fw-bold">Jollof Rice & Dodo with Fried Fish</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 col-xl-4 mt-5">
                    <div class="card dishCard">
                        <img class="card-img-top" src="/images/foodDisplay/food5.jpeg" alt="dish" />
                        <div class="card-body">
                            <p class="card-title fw-bold">Ofada Rice & Carrot with Meat Sauce</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 col-xl-4 mt-5">
                    <div class="card dishCard">
                        <img class="card-img-top h-100" src="/images/foodDisplay/download (2).jpg" alt="dish" />
                        <div class="card-body">
                            <p class="card-title fw-bold">White Rice & Stew with Big Meat</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 col-xl-4 mt-5">
                    <div class="shadow-rounded card dishCard">
                        <img class="card-img-top" src="/images/foodDisplay/images.jpg" alt="dish" />
                        <div class="card-body">
                            <p class="card-title fw-bold">Balanced Diet Vegetable</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 col-xl-4 mt-5">
                    <div class="card dishCard">
                        <img class="card-img-top h-100" src="/images/foodDisplay/cake.jpg" alt="dish" />
                        <div class="card-body">
                            <p class="card-title fw-bold">Birthday Cake</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
