@model IEnumerable<FoodOrderingApp.Models.Recipe>

    @foreach(var recipe in Model)
    {
       <div class="col-sm-4 col-md-4 col-lg-4 col-lx-4 mb-3">
           <div class="shadow rounded p-2">
               <div class="card">
                   <img src="@recipe.Image_url" class="card-img-top h-100" />
                   <div class="card-body">
                       <p class="card-title fw-bold fs-6 text-pink">@recipe.Title</p>
                       <p class="card-text">@recipe.Publisher</p>
                       <div>
                        <a href="/Recipe/Order?id=@recipe.Id" class="btn btn-sm btn-primary p-2">Order</a>
                    </div>
                   </div>
               </div>
           </div>
       </div>
    }