
<ul class="list-group-flush px-0 vh-100 overflow-auto">
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHl9W1MtYuF9PIHqQ7kKoMWg7Vl3HE-BFeig&s">Fruits</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/images/foodDisplay/food1.jpeg">Pounded yam</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/images/carouselimages/download (8).jpg">Borgar</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="~/images/foodDisplay/cake.jpg">Cake</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="~/images/foodDisplay/food5.jpeg">Ofada Rice</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="~/Recipe/Search?recipe=pizza"> Pizza</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="~/Recipe/Search?recipe=salad"> Salad</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="~/Recipe/Search?recipe=sausage"> Sausage</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="~/Recipe/Search?recipe=chips"> Chips</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="~/Recipe/Search?recipe=chocolate"> Chocolate</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="~/Recipe/Search?recipe=seafood"> Seafood</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="~/Recipe/Search?recipe=ice cream"> Ice Cream</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="~/images/foodDisplay/pizza3.jpg">Borger Pizza</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="~/images/foodDisplay/pizza3.jpg">Borger Pizza</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="~/images/foodDisplay/pizza3.jpg">Borger Pizza</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="~/images/foodDisplay/pizza3.jpg">Borger Pizza</a>
    </li>
    
</ul>